# Игнорировать файлы и папки Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.pdb
*.obj
*.log
*.tmp
*.cache

# Игнорировать сгенерированные файлы
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake